<div *ngIf="tokenPresent" class="prompt-container">
  <div class="chat-container">
    <!-- Left side - Chat history -->
    <div class="chat-history">
      <div *ngFor="let message of chatMessages" class="chat-message">
        <span class="user-name">User</span>
        <p class="user-message">{{ message }}</p>
      </div>
    </div>

    <!-- Right side - User input -->
    <div class="user-input">
      <textarea [(ngModel)]="userMessage" placeholder="Type your message..."></textarea>
      <button class="send-button" (click)="onSendMessage()"><i class='bx bx-chevrons-right'></i></button>
    </div>
  </div>
</div>
