// signup.component.scss
form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;

  input,
  select {
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease-in-out;
  }

  select {
    appearance: none; /* Remove default arrow icon on select */
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'24\' height=\'24\' fill=\'none\' stroke=\'%23333\' viewBox=\'0 0 24 24\'%3E%3Cpath stroke-linecap=\'round\' stroke-linejoin=\'round\' stroke-width=\'2\' d=\'M6 9l6 6 6-6\'/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 8px center;
    padding-right: 28px;
  }

  input[type="submit"] {
    background-color: #2196f3;
    color: #fff;
    cursor: pointer;
    border: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }

  input[type="submit"]:hover {
    background-color: #1e88e5;
  }

  /* Add a subtle box-shadow effect when focusing on the input fields */
  input:focus,
  select:focus {
    border-color: #2196f3;
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.5);
  }

  /* Add a pulsating animation for the loading indicator */
  .isLoading {
    animation: pulsate 1s ease-in-out infinite;
    text-align: center;
    margin: auto;
  }

  @keyframes pulsate {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
}
